---
import Layout from '../layouts/Layout.astro'
import NavReact from '../components/NavReact'
import BeautyProfileForm from '../components/BeautyProfileForm'
---
<Layout>
    <NavReact client:load list={[{name: 'Exchange', link: '/prettytendr/exchange' }, { name: 'Earn', link: '/prettytendr/earn' }]} />
    <main class="max-w-8xl p-10 m-auto">
        <h1 class="text-xl font-bold tracking-normal">Beauty Profile</h1>
        <BeautyProfileForm client:load/>
    </main>
</Layout>
