---
import Layout from "../layouts/Layout.astro";
import Nav from '../components/Nav.astro';
---


<Layout>
    <Nav items={[
        { name: "Earn", link: "/prettytendr/earn" },
        { name: "Exchange", link: "/prettytendr/exchange" }]} 
    />
    <main>  
        <div class="text-center">
            <a class="b" href="/prettytendr/beautyprofile">Beauty Profile</a>
            <p>10 PT</p>
        </div>
    </main>
</Layout>
<style>
    main {
        @apply h-full flex flex-col items-center justify-center; 
    }
</style>