<strong>Incrementor</strong><br />
Current value: <strong id="current-value" aria-live="polite">???</strong><br />
<br />
<button data-increment aria-controls="current-value">Increment</button>

<script>
  import incrementor from "../contracts/soroban_increment_contract";

  import { isAllowed, getPublicKey, signTransaction } from '@stellar/freighter-api';
  const button = document.querySelector("[data-increment]");
  const initialValue = await incrementor.get_value()

  const currentValue = document.querySelector("#current-value");
  if (await isAllowed()) {
    const publicKey = await getPublicKey();
    if (publicKey) incrementor.options.publicKey = publicKey;
  }

  currentValue.innerHTML = initialValue.result === null ? '???' : initialValue.result;

  button.addEventListener("click", async () => {
    button.disabled = true;
    button.classList.add("loading");
    currentValue.innerHTML =
      currentValue.innerHTML +
      '<span class="visually-hidden"> – updating…</span>';


    const tx = await incrementor.increment();

    const { result } = await tx.signAndSend({signTransaction});

    // Only use `innerHTML` with contract values you trust!
    // Blindly using values from an untrusted contract opens your users to script injection attacks!
    currentValue.innerHTML = result.toString();

    button.disabled = false;
    button.classList.remove("loading");
  });
</script>