---
import { Image } from 'astro:assets';
import './nav.css';

export type Item = {
    name: string;
    link: string;
};

const { items } = Astro.props as { items: Item[] };
---


<nav>
    <Image class="logo" width="75" height="75" src="/prettytendr/images/logo.svg" alt="PrettyTendr logo" />

    <ul>
        {items.map(({ link, name }) => <li><a class="menu-item" href={link}>{name}</a></li>)}
    </ul>
</nav>
<style is:global>
    nav {
        @apply w-full flex justify-between items-center tracking-wide;
    }

    ul {
        @apply flex items-center;
    }

    li {
        @apply ml-4 text-base;
    }

    .logo {
        @apply -rotate-12;
    }
  </style>