---
import '@fontsource-variable/plus-jakarta-sans';
import Message from '../components/Message.tsx';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
    <Message client:only='react' />
		<slot />
	</body>
</html>
<style is:global>
  :root {
    --accent: 255, 192, 203;
    --accent-light: 188, 212, 186;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    @apply font-sans;
    -webkit-font-smoothing: antialiased;
  }
  body {
    @apply p-5 pt-11 lg:p-10 lg:pt-11 h-screen w-full; 
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  button.base {
    @apply border-black border-solid border-2 rounded-md;
    cursor: pointer;
    padding: 0.5rem 0.75rem;
  }
  button.base:is(:hover) {
    color: black;
    background-position: 0;
    background-size: 400%;
    background-image: var(--accent-gradient);
  }
  button.base:is(:disabled) {
    color: white;
    background: var(--accent-light);
    cursor: not-allowed;
  }

  button:is(:disabled).loading {
    background: linear-gradient(-45deg, #ffffff44, #ffffff22);
    background-size: 200%;
    animation: loading-gradient 4s linear infinite;
  }
  @keyframes loading-gradient {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: -200% 50%;
    }
  }
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
</style>
